# LIST

In [12]:
my_list =["seeth","peter","jack",1,2,3,4.5,True,False]
print(my_list)

['seeth', 'peter', 'jack', 1, 2, 3, 4.5, True, False]

In [2]:
my_list[-3]

4.5

In [6]:
# printing list in reverse order
rev_list= my_list[::-1]
print(rev_list)

[False, True, 4.5, 3, 2, 1, 'jack', 'peter', 'seeth']

In [4]:
print(my_list)

['seeth', 'peter', 'jack', 1, 2, 3, 4.5, True, False]

In [7]:
#print 4.5, 3, 2, 1
print(rev_list[2:6])

[4.5, 3, 2, 1]

In [8]:
print(my_list)

['seeth', 'peter', 'jack', 1, 2, 3, 4.5, True, False]

In [9]:
print(my_list[-3])

4.5

In [10]:
print(my_list[-3:-7:-1])

[4.5, 3, 2, 1]

### List Functions/Methods

In [13]:
#1. append
my_list.append(100)

In [14]:
print(my_list)

['seeth', 'peter', 'jack', 1, 2, 3, 4.5, True, False, 100]

In [16]:
#2. extend
my_list_2 =[10,20,30,40]
print(my_list_2)

[10, 20, 30, 40]

In [17]:
my_list.extend(my_list_2)
print(my_list)

['seeth', 'peter', 'jack', 1, 2, 3, 4.5, True, False, 100, 10, 20, 30, 40]

In [18]:
#3. insert
my_list.insert(1,"new insert")
print(my_list)

['seeth', 'new insert', 'peter', 'jack', 1, 2, 3, 4.5, True, False, 100, 10, 20, 30, 40]

In [19]:
my_list.insert(1,100)
print(my_list)

['seeth', 100, 'new insert', 'peter', 'jack', 1, 2, 3, 4.5, True, False, 100, 10, 20, 30, 40]

In [20]:
#4. count
my_list.count(100)

2

In [23]:
my_list.count(40)

1

In [21]:
#5. index
my_list.index(100)

1

In [22]:
my_list.index(10)

12

In [30]:
#6. copy
my_list.copy()

['seeth',
 100,
 'new insert',
 'peter',
 'jack',
 1,
 2,
 3,
 4.5,
 True,
 False,
 100,
 10,
 20,
 30,
 40]

In [31]:
print(my_list)

['seeth', 100, 'new insert', 'peter', 'jack', 1, 2, 3, 4.5, True, False, 100, 10, 20, 30, 40]

In [32]:
#7. pop
my_list.pop()

40

In [38]:
#8,9. reverse,sort
print(my_list.reverse())

None

In [43]:
print(my_list.sort(reverse=True))

TypeError: '<' not supported between instances of 'int' and 'str'

In [44]:
print(my_list)

[False, True, 1, 2, 3, 4.5, 10, 20, 30, 100, 'jack', 'peter', 'new insert', 100, 'seeth']

In [40]:
print(my_list.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

In [45]:
print(my_list)

[False, True, 1, 2, 3, 4.5, 10, 20, 30, 100, 'jack', 'peter', 'new insert', 100, 'seeth']

In [47]:
#10. remove
my_list.remove(100)

In [48]:
print(my_list)

[False, True, 1, 2, 3, 4.5, 10, 20, 30, 'jack', 'peter', 'new insert', 100, 'seeth']

In [49]:
#11. 
my_list.clear()

In [50]:
print(my_list)

[]

#### end